In [7]:
import joblib
from sklearn import datasets
import pandas as pd

In [8]:
svc = joblib.load('modelo_entrenado_svc.pkl')

In [15]:
df = pd.read_csv('DataFrame_Entrenar.csv', engine='python')

In [16]:
#Crear X (Quitar la columna "Categoria_Num")
X=df.drop('Categoria_Num',axis=1)
X

,Unnamed: 0,Genero,NivelEstudios,TipoContratacion,TipoPersonal,TipoJornada,Rotacion,ExperienciaActual
0,25,1.0,3.0,5.0,1.0,3.0,1.0,8.0
1,26,1.0,9.0,5.0,1.0,3.0,2.0,8.0
2,27,1.0,4.0,4.0,1.0,3.0,1.0,7.0
3,28,1.0,9.0,5.0,2.0,3.0,1.0,6.0
4,29,0.0,9.0,2.0,3.0,3.0,2.0,3.0
...,...,...,...,...,...,...,...,...
21094,21119,0.0,2.0,5.0,2.0,3.0,2.0,8.0
21095,21120,0.0,8.0,5.0,2.0,3.0,2.0,5.0
21096,21121,0.0,8.0,5.0,2.0,3.0,2.0,5.0
21097,21122,0.0,7.0,5.0,2.0,3.0,2.0,7.0
21098,21123,0.0,5.0,5.0,2.0,3.0,2.0,6.0

In [18]:
#Crear y (valor de la columna "Categoria_Num") 
y=df['Categoria_Num']
y

0        1
1        1
2        1
3        1
4        0
        ..
21094    1
21095    1
21096    1
21097    1
21098    1
Name: Categoria_Num, Length: 21099, dtype: int64

In [19]:
#Dividir los datos para entrenamiento y prueba
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2)

In [20]:
#Revisar el tamaño de cada muestra
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((16879, 8), (4220, 8), (16879,), (4220,))

In [23]:
svc.fit(X_train, y_train)
y_pred4 = svc.predict(X_test)
y_pred4

array([1, 1, 1, ..., 1, 1, 1], dtype=int64)

In [24]:
svc.score(X_test, y_test)

0.8137440758293839